*, h1, h2, h3, p {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.each-car {
  border: 2px solid purple;
  background-size: contain;
  background-repeat: no-repeat;
  height: 350px;
  padding: 20px;
}
img {
    margin: 20px 0 0 20px;
}

section{
  margin: 50px;
}

option :nth-child(4){
    background-color: bisque;
}